*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Roboto sans-serif;
}



body {

     background-color: #f5efe6;
}

.Offers {
    text-align: center;
    padding: 60px 20px;
    
}

.title{
    font-size: 10px;
    letter-spacing: 2px;
    color: #caa24d;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  margin: 10px 0 50px;
  color: #222;


}


h2 span {
  color:  #caa24d;
  font-style: italic;
  
  /*    text-decoration: underline; */         /* مش عاؤفة اظبتة*/
}

.images {
display: flex;
justify-self: center;
gap: 25px;
flex-wrap: wrap;


}

.image {
position: relative;
width: 300px;
height: 420px;
overflow: hidden;
cursor: pointer;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}


.image:hover img {
    transform: scale(1.1);
}

.cover {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}



.tag {
    background:  #caa24d;  /*اصفر*/
    display: inline-block;
    padding: 6px 12px;
    font-size: 11px;
    margin-bottom: 10px ;
    color: #000;
}

.cover{
text-align: left;
}


.cover h3 {
margin: 5px 0;
font-family: 'playfair Display' serif;
}

.cover p {
    font-size: 14px;
}
.price {
    color: #caa24d; /*  اصفر*/
    font-weight:bold ;
}
